div{
    color: white;
    background-color: blue;
    padding: 15px;
}
div h2{
    color: white;
    text-align: center;
}

div ol li{
    font-size: 20px;

}
div img{
    width: 300px;
    height: 100%;
    margin: auto;
}


.simplesection img{
    width:900px;
    height: 100%;
}

.simplesection p{
    font-size: 25px;
    font-weight: 700;
}